# dependencies
node_modules/
packages/**/node_modules/


# logs
npm-debug.log*
pnpm-debug.log*


#os / editor 
.DS_Store
.vscode/


# build cache
.turbo


# tarballs
*.tgz


# lockfiles not used
package-lock.json